/*imports*/

/*html*/
html{
    scroll-behavior: smooth;
}

/*body*/

body {
    position: relative !important;
    width: 100%;
    padding: 0px !important;
    margin: 0px !important;
}




/*classes*/

.formbox{
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 50px;
    position: absolute;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fff;
    width: 50% !important;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 2px 2px 5px;
}
.backbtn{
    position: absolute;
    right: 1%;
}
@media(max-width:576px){
    .formbox{
        width: 90% !important;

    }
}

/* form radio buttons */
.fbtntxt{
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: lighter;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.fbtntxt input{
        position: absolute;
        opacity: 0;
        cursor: pointer;
}
.checkmark{
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}
.fbtntxt:hover input ~ .checkmark{
    background-color: #ccc;
}
.fbtntxt input:checked ~ .checkmark{
    background-color: #2196F3;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.fbtntxt input:checked ~ .checkmark:after{
    display: block;
}
.fbtntxt .checkmark:after {
    top: 50%;
	left: 50%;
	width: 9px;
    height: 9px;
    transform: translate(-50%,-50%);
	border-radius: 50%;
	background: white;
}
/*form radio button style done */