/*imports*/

/*html*/
html{
    scroll-behavior: smooth;
}

/*body*/

body {
    position: relative !important;
    width: 100%;
    padding: 0px !important;
    margin: 0px !important;
}




/*classes*/

.formbox{
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 50px;
    position: absolute;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fff;
    width: 50% !important;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 2px 2px 5px;
}
.backbtn{
    top: 4%;
    position: absolute;
    right: 1%;
}
@media(max-width:576px){
    .formbox{
        width: 90% !important;

    }
}

/* form radio buttons */
.fbtntxt{
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: lighter;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.fbtntxt input{
        position: absolute;
        opacity: 0;
        cursor: pointer;
}
.checkmark{
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}
.fbtntxt:hover input ~ .checkmark{
    background-color: #ccc;
}
.fbtntxt input:checked ~ .checkmark{
    background-color: #2196F3;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.fbtntxt input:checked ~ .checkmark:after{
    display: block;
}
.fbtntxt .checkmark:after {
    top: 50%;
	left: 50%;
	width: 9px;
    height: 9px;
    transform: translate(-50%,-50%);
	border-radius: 50%;
	background: white;
}
/*form radio button style done */

/*for icons.html*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin-left: 300px;
    margin-right: 300px;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-form{
      padding: 50px;
      align-items: center;
      width: 100%;
  }
  .modal-form input{
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      border-top: none;
      border-left: none;
      border-right: none;
      box-sizing: border-box;
  }
  .modal-form input:focus {
      border-bottom: 2px solid #000;
  }
  .upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
}
  .upload + label {
    width: 200px;
    height:40px;
    font-size: 1em;
    font-weight: 500;
    color: white;
    line-height: 2.6em;
    text-transform: uppercase;
    text-align: center;
    background-color: #000;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0px 3px 0px #fff;
    transition: 150ms;
}

.upload:focus + label,
.upload + label:hover {
    background-color: #000;
    box-shadow: 0px 5px 0px #fff;
    cursor:pointer;
}
.upload:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
.modal-heading{
    font-weight: bolder;
}
.modal-btn{
    position: absolute;
    right: 5%;
    background-color: #000;
    color: #fff;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    border: 5px solid #000;
}
.modal-form progress{
    -webkit-appearance: none;
    appearance: none;
   position: absolute;
   bottom: 25%;
   left: 70px;
   width: 250px;
   height: 20px;
}
.modal-form progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }
.modal-form progress[value]::-webkit-progress-value{
    background-color: #000;
    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
  @media (max-width:575px){
      .modal-content{
          margin-left: auto;
          margin-right: auto;
      }
      .modal-btn{
          right: 0%;
          left: 50%;
          transform: translateX(-50%);
      }
      .modal-form progress{
          position: absolute;
          left: 50%;
          bottom: 25%;
          transform: translateX(-50%);
      }
  }

  /*done for icons.html */


  /*teacher section*/
  
.teacher-profile img {
    height: 80%;
    width: 100%;
    padding: 20px;
    border-radius: 50%;
}
.teacher-content {
    height: 100%;
    padding: 20px;
    border-left: 1px solid #B8C3C5;
}
.teacher-content table{
    margin-left: auto;
    margin-right: auto;
}
.teacher-content td{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.teacher-content button {
    display: none;
}


@media (max-width:576px){
    .teacher-profile{
        height: 50vh;
        
    }
    .teacher-profile img{
        height:80%;
        width: 100%;
    }
    .teacher-profile input{
        margin-top: 0px !important;
    }
    .teacher-profile button {
        display: none !important;
    }
    .teacher-content{
        border: none;
    }
    .teacher-content td{
        font-size: 13px;
    }
    .teacher-content button {
        display: block;
    }
}
  /*teacher section*/
/* gallery */
/* .img-row{
    height: 30vh;
}
.img-block{
    box-shadow: #B8C3C5
}
.img-block img{
    margin-left: auto;
    margin-right: auto;
    height: 26vh;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
} */
.img-row{
    padding: 40px;
}
.img-row img {
    padding-bottom: 5px;
    width: 100%;
}
div.polaroid {
    position: relative;
    width: 234px;
    padding: 10px 10px 50px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
  }
  
  div.rotate_right {
    float: left;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Safari */
    transform: rotate(7deg);
  }
  
  div.rotate_left {
    float: left;
    -ms-transform: rotate(-8deg); /* IE 9 */
    -webkit-transform: rotate(-8deg); /* Safari */
    transform: rotate(-8deg);
  }